.App {
  text-align: center;
}

.App-header {
  background-color: #404040;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  background-color: #404040;
  color: white;
}

.sidebar-search-field {
  background-color: #404040;
  margin: 0;
  padding: 0;
  width: 40%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar {
  width: 50%;
  height: 100%;
  margin: auto;
  position: relative;
}

form {
  position: absolute;
  top: 30%;
}

input {
  margin-bottom: 20px;
}