.App {
  text-align: center;
  height: 100%;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  color: white;
}

.registar {
  height: 100vh;
}